.about {
    padding-top: 25px;
    &__wrapper {
        display: grid;
        grid-template: 400px / 400px 1fr;
        gap: 70px;
    }
    &__descr {
        padding-top: 6px;
        align-self: center;
        .divider {
            margin: 0;
        }
    }
    &__title {
        @include before_circle;
        position: relative;
        padding-left: 10px;
    }
    &__subtitle {
        margin-top: 10px;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
        width: 570px;
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 20px 50px;
        width: 570px;
        height: 250px;
    }
    &__skills-item {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 20px;
    }
    &__skills-circle {
        position: relative;
        padding: 15px 0 0 15px;
        @include before_circle;
        &:before {
            top: 0;
        }
    }
    &__skills-text {
        margin-top: 6px;
        font-size: 12px;
        line-height: 18px;
    }
    &__animation {
        margin: 0 auto;
    }
}

.bear{
    width: 240px;
    animation: updown 2s infinite alternate;
    &__ears {
        display: flex;
        justify-content: space-between;
        animation: updown 2s infinite alternate;
        transform: translateY(10px);
        .ear{
            width: 50px;
            height: 60px;
            background: #7d4b11;  
        }
        &__left {
            border-radius:50% 100%;
        }
        &__right {
            border-radius:100% 50%;
        }
    }
    &__body {
        width: 100%;
        height: 230px;
        background: #633a0a;
        border-radius: 50% / 40% 40% 60% 60%;
    }
    &__eyes {
        display: flex;
        justify-content: space-around;
        position: relative;
        transform: translateY(60px);
        transition: all 0.3s linear;
        .eyes {
            width: 20px;
            background: #a9d3eb;
            height: 15px;
            position: absolute;
            border-radius: 50% / 40% 40% 60% 60%;
            animation: blink .5s infinite alternate;
            transition: all 0.3s ease;
        }
        &-left {
            left: 50px;
            transform: skewY(5deg);
        }
        &-right {
            right: 50px;
            transform: skewY(-5deg);
        }
    }
    &__nose {
        width: 80px;
        background: $main-color;
        height: 100px;
        margin: auto;
        transform: translateY(80px);
        border-radius: 50% / 60% 60% 30% 30%;
        position: relative;
        animation: moveNose 3s infinite;
        transition: 0.4s ease;
        &-inner {
            width: 50px;
            height: 26px;
            background: #301c05;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50% / 40% 40% 60% 60%;
            animation: flip .5s infinite alternate;
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                background: #301c05;
                position: absolute;
                bottom: -6px;
                left: 50%;
                border-radius: 50px;
                transform: translate(-50%);
                box-shadow:
            20px 5px 0 $main-color,
            -20px 5px 0 $main-color;
        }
      }
    }
}
.shadow {
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: -20px;
    background: #000;
    opacity: 0.6;
    display: block;
    border-radius: 100%;
    transform: translateY(60px);
    filter: blur(17px);
    animation: shadow 2s infinite alternate;
}
  
@keyframes updown {
    to {
        transform: translateY(40px);
    }
}

@keyframes blink {
    from {
        height: 0;
    }
    to {
        height: 15px;
    }
}
  
@keyframes moveNose {
    0%,100%,90% {
        transform: translateY(80px);   
    }
    20%,30% {
        transform: translate(20px,60px);
    }
    60%,70% {
        transform: translate(-20px,60px);
    }
}

@keyframes shadow {
    from {
        width: 200px;
    }
    to {
        width: 150px;
    }
}