.policy {
    &__title {
        text-align: center;
        margin: 30px 0;
    }
    ul {
        list-style-type: none;
    }
    h3 {
        margin: 50px 0 20px 0;
    }
    &__mark {
        margin-bottom: 20px;
    }
    &__point {
        margin-bottom: 10px;
    }
}
