.sidepanel {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 25px;
    transform: rotate(270deg);
    top: 50%;
    left: -135px;
    &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }
    &__divider {
        width: 70px;
        height: 2px;
        background-color: #000;
    }
    a {
        width: 20px;
        height: 20px;
        transition: 0.6s all;
        &:hover {
            transform: scale(1.4) rotate(90deg);
        }
    }
    img {
        width: 20px;
        height: 20px;
    }
}